<nav class="py-3 mt-5 bg-body-tertiary">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary underline-hover" href="/privacy_policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary underline-hover" href="/terms_of_service">Terms of Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary underline-hover" href="/contact">Contact Us</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Harmony Hub, Inc</p>
    </div>
</nav>