<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/home" id="navHomeLogo">
            <i class="fa-solid fa-people-roof"></i> Harmony Hub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-auto mb-2 mb-lg-0" id="navLinkListLeft">
                <li class="nav-item">
                    <a class="nav-link" id="navHomeLink" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navPortfolioLink" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navServicesLink" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navTeamLink" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navBlogLink" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navEventsLink" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navGalleryLink" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/careers" id="navCareersLink">Careers</a>
                </li>
                <li class="nav-item">
                    <form id="navSearchForm" class="d-flex" role="search">
                        <button id="navSearchButton" class="nav-link me-2 me-lg-0" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div id="navSearchGroup">
                            <input id="navSearchInput" class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <div id="navSearchDropdown" class="dropdown-menu" aria-labelledby="navSearchInput"></div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navLinkListRight">
                <li class="nav-item">
                    <a class="nav-link" id="navLoginLink" href="/login"><i class="fa-solid fa-user-lock"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>