<!--
    Name: Colin Eade (ID:100329105) and Megan Clarke (ID:100881229).
    Date: February 24, 2024.
    File: careers.html
    Description: This is the Careers page for the Harmony Hub website.
-->
<h1 class="mt-3 text-center">We're Building Something Exciting!</h1>
<h1 class="text-center large-icon"><i class="fa-solid fa-person-digging"></i></h1>
<h2 class="text-center">
    Our site is currently under construction, but we can't wait to share what we're working on. Check back soon for updates!
</h2>
