<!--
    Name: Colin Eade (ID:100329105) and Megan Clarke (ID:100881229).
    Date: 2024 Feb 23
    File: events.ejs
    Description: This is the events page for the Harmony Hub website. It is the place for Ajax injection
                    of data from the events.json file. Event cards are created dynamically in the app.ts file.
-->
<h1 class="mt-3 text-center">Official Events</h1>

<div class="mt-3 mb-3 ms-1 ">
    <div class="dropdown align-content-start" >
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="eventsDropdownButton"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-filter"></i>  Filter Events</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Upcoming</a></li>
            <li><a class="dropdown-item" href="#">Past</a></li>
            <li><a class="dropdown-item" href="#">All</a></li>
        </ul>
    </div>
    <div class="align-content-end">
        <button class="btn btn-primary btn-sm" type="button">
            <i class="fa-regular fa-calendar-plus"></i> Suggest A Community Event</button>
    </div>
</div>

<div class="row g-1" id="events-container">
    <!-- Event Cards go here -->
</div>