<!--
    Name: Colin Eade (ID:100329105) and Megan Clarke (ID:100881229).
    Date: 2024 Mar 24
    File: event_planning.ejs
    Description: This is the events page for the Harmony Hub website. It is the place for Ajax injection
                    of data from the events.json file. Event cards are created dynamically in the app.ts file.
-->

<h1 class="mt-3 text-center">Plan an Event</h1>

