/* Underlines a link when hovered */
.underline-hover:hover {
    text-decoration: underline; 
}

/* Gives a link a dashed underline by default 
   Gives a solid underline when hovered */
.dashed-underline {
    text-decoration: none;
    border-bottom: 1px dashed;
}
.dashed-underline:hover {
    border-bottom: 1px solid; 
}

/* Styles for the Carousel Captions */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    margin-bottom: 50px;
}

/* Adjust the font size for the heading in the caption */
.carousel-caption h1 {
    font-size: 50px;
}

/* Adjust the font size for the paragraph in the caption */
.carousel-caption p {
    font-size: 25px;
}

/* Adjusts the link button in the caption */
.carousel-caption a.btn {
    font-size: 20px;
    border-radius: 0;
}

/* Sets maximum size of the profile images on the Team page. */
.img-max-width {
    max-width: 300px;
}